

@font-face {
  font-family: PTSans;
  src: local(PTSans-Bold),
    url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: PTSans;
  src: local(PTSans-Regular),
    url(/fonts/ptsans.woff2) format("woff2"),
    url(/fonts/ptsans.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@import "mixins.less";
@import "variables.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/page-main.less";
@import "blocks/adventages.less";

body {
  margin: 0;
  padding: 0;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
